{:paths ["src/main" "resources"]

 :mvn/repos {"datomic-cloud" {:url "s3://datomic-releases-1fc2183a/maven/releases"}}
 :deps      {org.clojure/clojure    {:mvn/version "1.10.0"}
             org.clojure/core.async {:mvn/version "0.4.500"}
             org.clojure/spec.alpha {:mvn/version "0.2.176"}
             com.datomic/ion        {:mvn/version "0.9.35"}
             rum                    {:mvn/version "0.11.3"}
             datascript             {:mvn/version "0.18.7"}
             com.wsscode/pathom     {:mvn/version "2.2.25"}
             cjsauer/tightrope      {:git/url "https://github.com/cjsauer/tightrope"
                                     :sha     "312b231acbe07076af47df952c89b9292d297471"}
             buddy/buddy-auth       {:mvn/version "2.2.0"}}
 :aliases
 {:cljs {:extra-deps {thheller/shadow-cljs {:mvn/version "2.8.59"}}}
  :dev  {:extra-paths ["src/dev" "src/test"]
         :extra-deps  {cjsauer/tightrope        {:local/root "../tightrope"}
                       com.datomic/client-cloud {:mvn/version "0.8.78"}
                       com.datomic/ion-dev      {:mvn/version "0.9.234"}
                       clj-http                 {:mvn/version "3.10.0"}
                       }}
  }}
