{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[rum "0.11.3"]
  [datascript "0.18.4"]
  [cljs-http "0.1.46"]
  [org.clojure/core.async "0.4.500"]

  ;; server
  [org.clojure/clojure "1.10.1"]
  [com.wsscode/pathom "2.2.20"]
  [compojure "1.6.1"]]

 :dev-http {8000 {:root    "public"
                  ;; :handler laef.server/handler
                  }}

 :builds
 {:web    {:target           :browser
           :output-dir       "public/js"
           :asset-path       "/js"
           :modules          {:main {:init-fn splitpea.web/start!}}
           :compiler-options {:infer-externs :auto
                              :externs       ["datascript/externs.js"]}}}}
