{:allow    [splitpea.model/valid-db-user?
            splitpea.model/valid-db-team?
            splitpea.model/valid-db-idea?
            splitpea.model/valid-db-media?]
 :lambdas  {}
 :app-name "splitpea-dev"}
